<!DOCTYPE html>
<html>
<head>
  <title>Vitrage</title>
  <%= stylesheet_link_tag    "vitrage/application", media: "all" %>
  <%= javascript_include_tag "vitrage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
