<%= evil_icons_sprite %>
<% owner.vitrage_slots.each do |slot| %>
  <%= render partial: "vitrage/edit_wraped_piece", locals: { slot: slot } %>
<% end %>

<div class="vtrg-add-new-wrapper">
  <div class="vtrg-new-block-kinds">
    <span><%= evil_icon 'ei-plus', size: "l" %></span>
    <% VitrageOwnersPiecesSlot::PIECE_CLASSES_STRINGS.each do |piece_class_string| %>
      <%= link_to "", Rails.application.routes.url_helpers.new_vitrage_piece_path(kind: piece_class_string, owner_type: owner.class.name, owner_id: owner.id), role: "button", class: piece_class_string.underscore.dasherize, remote: true %>
    <% end %>
  </div>
</div>
