<div class="vtrg-edit-wrapper editmode">
  <div class="vtrg-edit-block-cover"><%= evil_icon 'ei-spinner', size: "m" %></div>
  <%= render partial: "vitrage/form_wrap", locals: { item: @item } %>
</div>
